.form{
    display: flex;
    flex-direction: column;
    width: 80%;    
}

.title{
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--shadecolor);
}

.title:focus{
    border: 2px solid var(--maincolor);
    outline: var(--maincolor);
}

.description{
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--shadecolor);
}

.description:focus{
    border: 2px solid var(--maincolor);
    outline: var(--maincolor);
}

