.postsWrapper{
    display: grid;
    transition: all 0.2 ease-in-out;
    padding-left: 23%;
    padding-top: 80px;
    padding-right: 10px;
    width: 100%;
    grid-template-rows: 0.1fr 1fr;
}

.postsWrapper span{
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.postsWrapper span a{
    cursor: pointer;
    padding: 15px 20px;
    background-color: var(--maincolor);
    border-radius: 10px;
    color: var(--color2);
    font-weight: bolder;
    text-align: center;
    width: 100px;
    border: none;
}

.postsCardWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

@media screen and (max-width: 1000px){
    .postsWrapper{
        padding-left: 0;
        padding-right: 0;
    }
}